
body {
    background-color: black;
    box-sizing: border-box;
    background-image: url("images/starfeild.jpg");
    background-repeat: repeat;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    position: relative;
    width: 560px;
    height: 300px;
    background-color: black;
    border: solid white 1px;
}

.block{
    position:absolute;
    width:100px;
    height: 20px;
    background-color: red;
    box-sizing: border-box;
    border: solid black 2px;
}

.user{
    position:absolute;
    width:100px;
    height: 20px;
    background-color: white;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border: solid white 2px;
}